# Скомпилированные бинарные файлы
/bin/
/out/

# Каталоги Go
/pkg/
/vendor/

# Временные файлы IDE
.idea/
.vscode/

# Системные файлы macOS
.DS_Store

# Логи и временные файлы
*.log
*.tmp

# Файлы для Windows
Thumbs.db

# Файлы с конфиденциальной информацией
.env
.env.docker